sudo: false

notifications:
  email:
    - evantahler@gmail.com
language: node_js
node_js:
  - "4"
  - "6"
env:
  - "FAKEREDIS=true"
  - "FAKEREDIS=false"
branches:
  only:
    - master
services:
  - redis-server
# before_script:
after_failure:
  - "cat /home/travis/builds/taskrabbit/node-resque/npm-debug.log"
